<div class="col-12">
  <nb-card>
    <nb-card-header>Basic form</nb-card-header>
    <nb-card-body>
      <form [formGroup]="memberForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="form-group">
              <label for="names" class="label">Nombres</label>
              <input type="names" nbInput fullWidth id="names" formControlName="names"placeholder="names">
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="form-group">
              <label for="lastnames" class="label">Apellidos</label>
              <input type="lastnames" nbInput fullWidth id="lastnames" formControlName="lastnames" placeholder="lastnames">
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            
        <div class="form-group">
          <label for="age" class="label">Edad</label>
          <input type="age" nbInput fullWidth id="age"  formControlName="age" placeholder="age">
        </div>
          </div>
        </div>


        <div class="form-group">
          <label for="phone" class="label">Celular</label>
          <input type="phone" nbInput fullWidth id="phone" formControlName="phone" placeholder="phone">
        </div>
        <div class="form-group">
          <label for="email" class="label">Correo electronico</label>
          <input type="email" nbInput fullWidth id="email"  formControlName="email" placeholder="email">
        </div>
        <div class="form-group">
          <label for="municipality" class="label">Municipio</label>
          <input type="municipality" nbInput fullWidth id="municipality" formControlName="municipality" placeholder="municipality">
        </div>
        <div class="form-group">
          <label for="district" class="label">Distrito</label>
          <input type="district" nbInput fullWidth id="district" formControlName="district" placeholder="district">
        </div>
        <div class="form-group">
          <label for="ocupation" class="label">Ocupacion</label>
          <input type="ocupation" nbInput fullWidth id="ocupation" formControlName="occupation" placeholder="ocupation">
        </div>
        <div class="form-group">
          <nb-checkbox type="volunteer" nbInput fullWidth id="ExampleVolunteer"  formControlName="volunteer" placeholder="volunteer">Voluntariado</nb-checkbox>
        </div>
        <div class="form-group">
          <label for="socialNetwork" class="label">Redes sociales</label>
          <input type="socialNetwork" nbInput fullWidth id="socialNetwork"  formControlName="socialNetwork" placeholder="socialNetwork">
        </div>
        <div class="form-group">
          <label for="howFindUs" class="label">¿Como nos Encontraste?</label>
          <input type="howFindUs" nbInput fullWidth id="howFindUs" formControlName="howFindUs" placeholder="howFindUs">
        </div>
        <div class="form-group">
          <nb-checkbox type=" discipleship" nbInput fullWidth id="discipleship"formControlName="discipleship" placeholder=" discipleship">Discipulado</nb-checkbox>
        </div>
        <div class="form-group">
          <label for="leaderDiscipleship" class="label">lider de Discipulado</label>
          <input type=" leaderDiscipleship" nbInput fullWidth id=" leaderDiscipleship" formControlName="leaderDiscipleship"placeholder=" leaderDiscipleship">
        </div>
        <button type="submit" nbButton status="danger">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
